.footer{
  padding:20px 0 30px 0;
  background: black;
  color: white;
  
}

.footer .gach{
  height:3px;
  width:25%;
  background: red;
  margin: 20px 0 20px 0;
}

.footer .gach1{
  height:2px;
  background: white;
  margin: 20px 0 20px 0;
}

.footer .col-sm-4, .footer .col-sm-8{
  padding-top: 10px;
}

.footer .text{
  color: gray;
  font-size: 14px;
}

.footer span.text{
  margin-left: 10px;
}

.footer .icon{
  font-size: 40px;
}
.footer .icon i{
  margin-left: 10px;
}

.copy-right{
  padding: 15px 0 15px;
  background: rgb(27, 25, 25);
  color: white;
}

.footer h4{
  margin-top: 10px;
}

@media (max-width: 768px){
  .copy-right{
    font-size: 12px;
  }
}