
.anh{
  padding:200px 0 200px;
  background-image: url('../assets/img/nu-top.jpg');
  margin-top: 80px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.anh-nam{
  padding:200px 0 200px;
  background-image: url('../assets/img/men-sneaker.jpg');
  margin-top: 80px;
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.anh-tre-em{
  padding:200px 0 200px;
  background-image: url('../assets/img/kid.jpg');
  margin-top: 80px;
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.anh-pkk{
  padding:200px 0 200px;
  background-image: url('../assets/img/store.jpg');
  margin-top: 80px;
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.product .price{
  color:rgb(238, 48, 48);
}

.product .card-title{
  color:rgb(11, 68, 41);
  font-size: 15px;
}