

.anh-nu{
  padding:220px 0;
  background-image: url('../assets/img/nu-top.jpg');
  margin-top: 80px;
  background-size: cover;
  background-position: bottom;
}

.anh-nam{
  padding:220px 0;
  background-image: url('../assets/img/men-sneaker.jpg');
  margin-top: 80px;
  background-size: cover;
  background-position: bottom;
}

.anh-tre-em{
  padding:200px 0;
  background-image: url('../assets/img/kid.jpg');
  margin-top: 80px;
  background-size: cover;
  background-position: bottom;
}

.anh-pkk{
  padding:200px 0 200px;
  background-image: url('../assets/img/store.jpg');
  margin-top: 80px;
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.product .price{
  color:rgb(238, 48, 48);
}

.product .card-title{
  color:rgb(11, 68, 41);
  font-size: 15px;
}

.des{
  font-size: 14px;
}

.list-group .list-group-item:hover{
  background-color: rgba(128, 128, 128, 0.26);
  cursor: pointer;
}

@media ( max-width: 1376px ) and ( min-width: 800px){
  .des-sp{
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .list-group .list-group-item img{
    width:200%;
  }
}

@media (max-width: 576px) {

  .list-group .list-group-item img{
    width:150%;
  }

  .anh-tre-em{
    padding:120px 0;
  }

  .anh-nu{
    padding:120px 0;
    background-position: left;
  }

  .anh-nam{
    padding:120px 0;
    background-position: right;
  }
}



